
<div>
  {{#each data as |data|}}
    <tr>
      <th>{{data.ID}}</th>
      <th>{{data.DMAC}}</th>
      <th>{{data.SMAC}}</th>
      <th>{{data.TYPE}}</th>
      <th>{{data.SIP}}</th>
      <th>{{data.DIP}}</th>
    </tr>
  {{/each}}
</div>