

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        {{!--<li><a href="#" onclick={{clicked}}>Netflow Records</a></li>--}}
        <li><a href="#" onclick={{action 'updateView' 'netflowRecords'}}>Netflow Records</a></li>
        <li><a href="#" onclick={{action 'updateView' 'dataVisualisation'}}>Data Visualisation</a></li>
        <li><a href="#" onclick={{action 'updateView' 'alertHistory'}}>Alert History</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
  <h2>Traffic Overview</h2>



{{#if selectedAlertHistory }}
  {{alert-history alertHistory=alertHistory}}
{{/if}}


  {{!--

  {{#list-filter
    filter=(action 'filterBySrcIp')
  as |srcIps|}}

    <ul class="results">
      {{#each rentals as |rentalUnit|}}
        <li>{{rental-listing rental=rentalUnit}}</li>
      {{/each}}
    </ul>



  --}}

<br><br>

{{#if selectedNetflowRecords}}

    <p>Overview of the traffic we've seen</p>
    <div class="table-responsive">
  {{!--
    {{#list-filter
      filter=(action 'filterBySrcIp')
    as |srcIps|}}
  --}}

      {{netflow-records tableHeadings=tableHeadings tableData=tableData}}

       <br><br><br><br><br><br><br><br><br><br>
  {{!--  {{/list-filter}} --}}
      <button class="btn btn-success">test btn</button>

      <div class="alert-ticker">
        alerts area
        {{alerts}}
      </div>
      <br><br><br><br>

    </div>



{{/if}}

</div>

<div class="ticker-wrap">
  <div class="ticker">
    {{#each alerts as |alert|}}
      <div class="ticker__item">
        {{alert.warningTitle}} | {{alert.severity}}
        {{!-- <p class="btn btn-primary">{{alert.severity}}</p> --}}
      </div>
    {{/each}}
  </div>
</div>